In [ ]:
import pandas as pd

# 자료형 확인
* **데이터프레임.dtyes**
* **시리즈.dtype**
* 한 시리즈에 문자열과 숫자, 문자열과 부울 등으로 데이터타입이 혼합되어 있으면 object형으로 결정된다.
* 한 시리즈에 정수와 실수가 혼합되어 있으면 float64으로 결정된다.

In [ ]:
# 샘플데이터
df = pd.DataFrame({'float': [1.0, 2.0],
                    'int': [1,2],
                    'datetime': [pd.Timestamp('20200101'),pd.Timestamp('20210101')],
                    'string': ['a','b'],
                    'bool':[True,False],
                    'object':[1,'-'],
                    'float2' : [1.0, 2]})

In [ ]:
df

## 데이터프레임의 자료형 확인

In [ ]:
# 데이터프레임의 자료형 확인

## 시리즈의 자료형 확인

In [ ]:
# int 컬럼의 자료형 확인

## 자료형이 혼합된 컬럼의 자료형 확인

In [ ]:
# 숫자형과 문자형이 혼합되어 있는 경우 각 데이터의 자료형 확인

# 자료형 변환
* 데이터프레임.**astype**('자료형')
* 시리즈.**astype**('자료형')

In [ ]:
# 샘플 데이터
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df

## 데이터프레임 전체 자료형 변환

In [ ]:
# 실수형으로 변환

In [ ]:
# 문자열로 변환

In [ ]:
# 정수형으로 변환

## 컬럼의 자료형 변환

In [ ]:
# col2의 자료형만 str로 변환

In [ ]:
# col2의 자료형만 float로변환

In [ ]:
# col2의 자료형만 int로변환

## 자료형이 혼합된 컬럼의 자료형 변환

In [ ]:
# 샘플 데이터
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4],'col3':[5,'-']})
df

In [ ]:
# col3 컬럼을 str형으로 변환

In [ ]:
# 변경할 수 없는 자료가 섞여있으면 error

# 자료형이 혼합된 컬럼을 숫자형으로 변경
* pd.to_numeric(컬럼, **errors='ignore'**) : 숫자로 변경할 수 없는 값이 있으면 작업하지 않음
* pd.to_numeric(컬럼, **errors='coerce'**) : 숫자로 변경할 수 없는 값이 NaN으로 설정
* pd.to_numeric(컬럼, **errors='raise'**) :  숫자로 변경할 수 없는 값이 있으면 에러발생(default)

## astype으로 변환

In [ ]:
# 모든 값을 숫자로 변경할 수 있음
s1 = pd.Series(['1.0', '2', -3])
s1.astype('float')

In [ ]:
# 숫자로 변경할 수 없는 데이터가 섞여있음
s2 = pd.Series(['1.0', '2', -3, 'a'])
s2.astype('float')

## to_numeric으로 변환

In [ ]:
# ignore:숫자료 변경할 수 없는 데이터가 있으면 작업하지 않음

In [ ]:
# coerce:숫자로 변경할 수 없는 값이 NaN으로 설정

In [ ]:
# raise : 숫자로 변경할 수 없는 값이 있으면 에러발생(default)

# 시계열 데이터로 변경
* pd.to_datetime(컬럼)

In [ ]:
df = pd.read_csv('data/birth_die.csv')
df.head()

In [ ]:
df.dtypes

## astype으로 변환

In [ ]:
# 출생

## to_datetime으로 변환

In [ ]:
# 사망